<ion-header>

  <ion-navbar>
    <ion-title>{{title.replace('_', ' ')}}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-30 col-sm-20 col-lg-15 col-xl-10 *ngFor="let stadium of stadiums">
        <stadium-card [stadium]="stadium" (tap)="handleStadiumTap(stadium)"></stadium-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab *ngIf="user">
    <button ion-fab (click)="handleAddClick()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>
