<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PROFILE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="profile-content">
    <div *ngIf="user">
      <!-- <div class="profile-pic-div profile-div">
        <div class="profile-pic-wrapper">
          <div class="profile-pic" square [style.backgroundImage]="'url('+user.photoURL+')'"></div>
        </div>
      </div> -->
      <div class="profile-content-div profile-div">
        <h3>{{user.displayName}}</h3>
      </div>
      <div class="profile-button-div profile-div">
        <button ion-button block (click)="handleSignOutClick()" icon-start>
          {{ 'SIGN_OUT' | translate }}
        </button>
      </div>
    </div>
    <!-- <button *ngIf="!user" ion-button block (click)="handleSignInWithGoogleClick()" icon-start>
      <ion-icon ios="logo-google" md="logo-google"></ion-icon>
      {{ 'SIGN_IN_WITH_GOOGLE' | translate }}
    </button> -->
    <button *ngIf="!user" color="facebook" ion-button block (click)="handleSignInWithFacebookClick()" icon-start>
      <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
      {{ 'SIGN_IN_WITH_FACEBOOK' | translate }}
    </button>

  </div>
</ion-content>
