page-home {
  ion-navbar {
    ion-title {
      font-family: 'Lobster', cursive;
    }
  }
  ion-content {
    div.home {
      max-width: 1200px;
      margin: auto;
    }
    .container {
      max-width: $xl-screen;
      margin: auto;
    }
  }
}
