<ion-list>
  <div *ngFor="let sportItem of menuList">
    <menu-item
      [thumbnail]="sportItem.thumbnail"
      [title]="sportItem.title"
      [collapse]="sportItem.collapse.length > 0"
      (click)="handleSportClick(sportItem.title)">
    </menu-item>
    <div
      class="sport-menu"
      [ngStyle]="{ maxHeight: focusSport === sportItem.title ? 50 * sportItem.collapse.length + 'px' : 0 }">
      <menu-item
        *ngFor="let leagueItem of sportItem.collapse"
        [thumbnail]="leagueItem.thumbnail"
        [title]="leagueItem.title"
        [collapse]="leagueItem.collapse.length > 0">
      </menu-item>
    </div>
  </div>
</ion-list>
