<ion-list>
  <ion-list-header>
    Sports
  </ion-list-header>
  <div *ngFor="let sportItem of menuList">
    <menu-item
      [thumbnail]="sportItem.thumbnail"
      [title]="sportItem.title.charAt(0).toUpperCase()+sportItem.title.slice(1)"
      [collapse]="sportItem.collapse.length > 0"
      (tap)="handleSportTap(sportItem.title)">
    </menu-item>
    <div
      class="sport-menu"
      [ngStyle]="{ maxHeight: focusSport === sportItem.title ? 65 * sportItem.collapse.length + 'px' : 0 }">
      <menu-item
        *ngFor="let leagueItem of sportItem.collapse"
        [thumbnail]="leagueItem.thumbnail"
        [title]="leagueItem.title"
        [subtitle]="category[leagueItem.title]"
        [collapse]="leagueItem.collapse.length > 0"
        (tap)="leagueChoosed.emit(leagueItem.title)">
      </menu-item>
    </div>
  </div>
</ion-list>
