menu-list {
  .sport-menu {
    margin-left: 40px;
    overflow: hidden;
    transition: max-height 0.2s linear;
  }

  ion-list-header {
    margin-bottom: 0 !important;
    background-color: #ECECEC !important;
    color: #525252 !important;
  }
}
