menu-list {
  .sport-menu {
    margin-left: 40px;
    overflow: hidden;
    transition: max-height 0.4s linear;
    max-height: 0;
  }
  .sport-menu.focus {
    max-height: 455px;
  }

  ion-list-header {
    margin-bottom: 0 !important;
    background-color: #ECECEC !important;
    color: #525252 !important;
  }
}
