page-stadium-view {
  ion-content {
    background-color: map-get($colors, light) !important;
    div.container {
      &.padding {
        padding: 16px;
      }
      background-color: white;
      max-width: $lg-screen;
      border: 0.5px solid #e7e6e6;
      margin: auto;
      margin-bottom: 30px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      @media (max-width:$lg-screen) {
        margin-bottom: 10px;
      }
    }
  }
}
