<ion-header>

  <ion-navbar>
    <ion-title>{{ stadium ? stadium.name : ''}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="stadium">
    <div class="container">
      <div rectangle [ratio]="1.7">
        <img *ngIf="cover" [src]="cover" alt="">
      </div>
      <div padding>
        <h3>{{stadium.name}}</h3>
        <ion-segment [(ngModel)]="segment" color="primary">
          <ion-segment-button value="about">
            {{ 'ABOUT' | translate }}
          </ion-segment-button>
          <ion-segment-button value="album">
            {{ 'ALBUM' | translate }}
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
    <div class="container" padding>
      <about-section [stadium]="stadium" *ngIf="segment === 'about'"></about-section>
    </div>
  </div>
  
  
  <ion-fab *ngIf="user">
    <button ion-fab (click)="handleEditClick()"><ion-icon name="md-create"></ion-icon></button>
  </ion-fab>
</ion-content>
