page-image-slider {
  ion-slides {
    background-color: black;
  }
  ion-icon {
    color: #a3a3a3;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 10;
  }
  ion-icon:hover {
    color: #fcfcfc;
  }
}
