carousel {
  ion-spinner {
    width: 100%;
  }
  h3.title {
    font-size: 3.1rem;
    line-height: 3.5rem;
    align-items: center;
    @media (max-width: $md-screen) {
      font-size: 2.7rem;
    }
    .league-icon {
      height: 30px;
      height: 30px;
    }
  }
  ion-slides {
    background-color: #F1F1F1;
    box-shadow: 0 0 10px #9D9D9D;
    ion-slide {
      align-items: unset !important;
      .slide-zoom {
        text-align: left;
        margin-bottom: 40px;
        @media (max-width: $lg-screen) {
          margin-bottom: 70px;
        }
        @media (max-width: $sm-screen) {
          margin-bottom: 55px;
        }
      }
      img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
      }
      .stadium-content {
        text-align: center;
        @media (min-width: $lg-screen) {
          display: none;
        }
        padding: 7px;
        @media (max-width: $sm-screen) {
          padding: 0px 7px;
        }
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        span.name {
          font-size: 2.2rem;
          font-weight: bold;
        }
        @media (max-width: $sm-screen) {
          span.name {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
  .carousel-right-bar {
    @media (max-width: $lg-screen) {
      display: none;
    }
    .stadium-lg-content {
      box-shadow: 0 0 10px #9D9D9D;
      background-color: #F1F1F1;
      height: 100%;
      max-height: 100%;
      padding: 20px;
      h3.name {
        text-align: center;
        font-size: 2.4rem;
        margin-bottom: 20px;
      }
      h3.category-header {
        font-size: 1.9rem;
        font-weight: 400;
      }
      h3.category-content {
        font-size: 1.9rem;
        font-weight: 400;
        color: #727272;
      }
      @media (max-width: $xl-screen) {
        h3.name {
          font-size: 2rem;
        }
        h3.category-header, h3.category-content {
          font-size: 1.60rem;
        }
      }
    }
  }
  
}
