<ion-spinner *ngIf="content.length === 0"  name="bubbles"></ion-spinner>
<div *ngIf="content.length > 0">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-8>
        <ion-slides 
          golden
          pager 
          loop
          speed="900"
          paginationType="bullets"
          (ionSlideDidChange)="handleSlideChanged()">
          <ion-slide *ngFor="let stadium of content">
            <img [src]="getSliderImage(stadium.images[0])" alt="">
            <div class="stadium-content">
              <span class="name">{{stadium.name}}</span>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col col-4 [style.height]="'inherit'" class="carousel-right-bar">
        <div class="stadium-lg-content">
          <div *ngIf="currentStadium">
            <h3 class="name">{{currentStadium.name}}</h3>
            <ion-row *ngFor="let property of currentStadium.properties">
              <ion-col col-4>
                <h3 class="category-header">{{property.title}}</h3>
              </ion-col>
              <ion-col col-8>
                <h3 class="category-content">{{property.content}}</h3>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</div>
