page-search {
  ion-title {
    display: none;
  }
  ion-item {
    cursor: pointer;
    ion-thumbnail {
      background-image: url('/assets/icon/logo/grayscale.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      img {
        object-fit: cover;
      }
    }
  }
  ion-item:hover {
    background-color: #f2f2f2;

  }
}
