page-search {
  ion-title {
    display: none;
  }
  ion-item {
    cursor: pointer;
    ion-thumbnail {
      img {
        object-fit: cover;
      }
    }
  }
  ion-item:hover {
    background-color: #f2f2f2;

  }
}
