<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ (stadium ? 'EDIT_STADIUM' : 'NEW_STADIUM') | translate }}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="editStadiumForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>{{ 'NAME' | translate }}</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <span class="form-errors"
        *ngIf="editStadiumForm.get('name').invalid && submitTried">
        * {{ 'NAME' | translate }}{{ 'IS_REQUIRED' | translate }}
      </span>
      <ion-item>
        <ion-label color="primary" floating>{{ 'SPORT' | translate }}</ion-label>
        <ion-select multiple="true" formControlName="sports" (ionChange)="handleSportsChoosed()">
          <ion-option *ngFor="let sport of sportsCandidates" value={{sport.name}}>
            {{sport.name.charAt(0).toUpperCase()+sport.name.slice(1)}}
          </ion-option>
        </ion-select>
      </ion-item>
      <span class="form-errors"
        *ngIf="editStadiumForm.get('sports').invalid && submitTried">
        * {{ 'SPORT' | translate }}{{ 'IS_REQUIRED' | translate }}
      </span>
      <ion-item>
        <ion-label color="primary" floating>{{ 'LEAGUE' | translate }}</ion-label>
        <ion-select multiple="true" formControlName="leagues" (ionChange)="handleLeaguesChoosed()">
          <ion-option *ngFor="let league of leaguesCandidates" value={{league.name}}>
            {{league.name.replace('_', ' ')}}
          </ion-option>
        </ion-select>
      </ion-item>
      <span class="form-errors"
        *ngIf="editStadiumForm.get('leagues').invalid && submitTried">
        * {{ 'LEAGUE' | translate }}{{ 'IS_REQUIRED' | translate }}
      </span>
      <ion-item>
        <ion-label color="primary" floating>{{ 'TENANT' | translate }}</ion-label>
        <ion-select multiple="true" formControlName="tenants">
          <ion-option *ngFor="let tenant of tenantsCandidates" [value]="(tenant.location ? tenant.location : '') + ' ' + tenant.name">
            {{(tenant.location ? tenant.location : '') + ' ' + tenant.name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <span class="form-errors"
        *ngIf="editStadiumForm.get('tenants').invalid && submitTried">
        * {{ 'TENANT' | translate }}{{ 'IS_REQUIRED' | translate }}
      </span>
      <ion-item>
        <ion-label color="primary" floating>{{ 'LOCATION' | translate }}</ion-label>
        <ion-input formControlName="location"></ion-input>
      </ion-item>
      <span class="form-errors"
        *ngIf="editStadiumForm.get('location').invalid && submitTried">
        * {{ 'LOCATION' | translate }}{{ 'IS_REQUIRED' | translate }}
      </span>
      <ion-item>
        <ion-label color="primary" floating>{{ 'ARCHITECT' | translate }}</ion-label>
        <ion-input formControlName="architect"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>{{ 'OPENING_DATE' | translate }}</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" formControlName="openingDate" min="1800"></ion-datetime>
      </ion-item>
      <span class="form-errors"
        *ngIf="editStadiumForm.get('openingDate').invalid && submitTried">
        * {{ 'OPENING_DATE' | translate }}{{ 'IS_REQUIRED' | translate }}
      </span>
      <ion-item>
        <ion-label color="primary" floating>{{ 'CAPACITY' | translate }}</ion-label>
        <ion-input type="number" max=150000 min=10000 formControlName="capacity"></ion-input>
      </ion-item>
      <span class="form-errors"
        *ngIf="editStadiumForm.get('capacity').invalid && submitTried">
        * {{ 'CAPACITY' | translate }}{{ 'IS_REQUIRED' | translate }}
      </span>
      <ion-item class="file-uploader" (click)="handleFileUploadClick()">
        <ion-label>
          <input type="file"
            #fileInput multiple
            (change)="handleFileSelected($event.target.files)"
            accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*">
          <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon> {{ 'UPLOAD_IMAGE' | translate }}
        </ion-label>
      </ion-item>
      <ion-item class="file-preview">
        <ion-grid>
          <ion-row>
            <ion-col col-4 col-sm-3 *ngFor="let img of previewImages.old">
              <div square class="img-cell old" [style.backgroundImage]="'url('+imageService.getThumbnail(img, 200)+')'">
              </div>
            </ion-col>
            <ion-col col-4 col-sm-3 *ngFor="let img of previewImages.new">
              <div square class="img-cell new" [style.backgroundImage]="'url('+img+')'">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <button type="submit" ion-button block>{{ 'SAVE' | translate }}</button>
  </form>
</ion-content>
