page-edit-stadium {
  ion-content {
    .scroll-content {
      padding: 32px !important;
    }
    ion-list {
      ion-item {
        padding-left: 0 !important;
      }

      ion-item.file-uploader {
        cursor: pointer;
        margin-top: 36px;
        border: dashed 2px map-get($colors, primary);
        text-align: center;
        .item-inner {
          border-bottom: none !important;
          ion-label {
            color: map-get($colors, primary);
            margin: 24px 0;
          }
          input[type="file"] {
            display: none;
          }
        }
      }

      ion-item.file-preview {
        .item-inner {
          border-bottom: none !important;
        }
      }

      .form-errors {
        color: map-get($colors, danger);
      }
    }
    .img-cell {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      &.old {
        border: dashed 1.5px #b5b5b5;
      }
      &.new {
        border: dashed 1.5px map-get($colors, secondary);
      }
    }
  }


}
