page-edit-stadium {
  ion-content {
    .scroll-content {
      padding: 32px !important;
    }
    ion-list {
      ion-item {
        padding-left: 0 !important;
      }

      ion-item.file-preview {
        margin-top: 15px;
        h3 {
          color: map-get($colors, primary);
          font-size: inherit;
          margin-bottom: 10px;
        }
        .item-inner {
          border-bottom: none !important;
        }

        .file-upload {
          text-align: center;
        }
        .file-upload:before {
          content: '';
          display: inline-block;
          vertical-align: middle ;
          height: 100%;
        }
        .file-upload-content {
          font-size: 2.3rem;
          color: map-get($colors, primary);
          display: inline-block;
          vertical-align: middle;
        }
      }

      .form-errors {
        color: map-get($colors, danger);
      }
    }
    .img-cell {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      &.old {
        border: dashed 1.5px #b5b5b5;
      }
      &.new {
        border: dashed 1.5px map-get($colors, secondary);
      }
      &.upload {
        border: dashed 1.5px map-get($colors, primary);
        input[type="file"] {
          display: none;
        }
      }
    }
  }


}
